run = "python start_webapp.py"
entrypoint = "start_webapp.py"
hidden = ["venv", ".config", "**/__pycache__", "**/.mypy_cache", "**/*.pyc"]
modules = ["python-3.11"]

[nix]
channel = "stable-22_11"

[env]
VIRTUAL_ENV = "/home/runner/${REPL_SLUG}/venv"
PATH = "${VIRTUAL_ENV}/bin"
PYTHONPATH = "$PYTHONHOME/lib/python3.10:${VIRTUAL_ENV}/lib/python3.10/site-packages"

[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

[languages]

[languages.python3]
pattern = "**/*.py"

[languages.python3.languageServer]
start = "pyls"

[deployment]
run = ["sh", "-c", "python start_webapp.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5002
externalPort = 80
